@using Microsoft.AspNetCore.Components.Authorization
@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4 d-flex justify-content-end align-items-center">

            <AuthorizeView>
                <Authorized Context="auth">

                    <span class="me-3">
                        👤 @auth.User.Identity?.Name
                    </span>
                </Authorized>

                <NotAuthorized>

                    <a href="/Account/Login" class="btn btn-outline-primary btn-sm me-2">
                        Login
                    </a>

                    <a href="/Account/Register" class="btn btn-outline-secondary btn-sm">
                        Register
                    </a>

                </NotAuthorized>
            </AuthorizeView>

        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>
