@page "/categories"
@attribute [Authorize]
@using CyberQuiz.Shared.DTOs
@using System.Security.Claims
@using CyberQuiz.UI.Components.Account.Pages.Manage
@using CyberQuiz.UI.Services
@using Microsoft.AspNetCore.Authorization
@inject NavigationManager Navigation
@inject AuthenticationStateProvider AuthStateProvider
@inject IQuizApiClient QuizApi

@rendermode InteractiveServer

<div class="home-wrapper">

    <div class="hero-card categories-card">

        <h3 class="mb-4">Categories</h3>

        <div class="row g-4">

            @foreach (var category in categoriesFromApi)
            {
                <div class="col-md-6 col-lg-4">

                    <div class="card category-card p-3 shadow-sm">

                        <h5>@category.Name</h5>

                <button class="btn btn-primary mt-2"
                        @onclick="() => ToggleCategory(category.Id)">
                    @*Expand vid klick*@
                    Open
                </button>

                @if (expandedCategoryId == category.Id && subCategoriesMap.ContainsKey(category.Id)) @*Så endast det "card" som klickats expandar*@
                {
                    <ul class="list-group mt-3">

                        @foreach (var sub in subCategoriesMap[category.Id]) @*hämtas från dictionary*@
                        {
                            <li class="list-group-item d-flex justify-content-between align-items-center">

                                <div>
                                    <strong>@sub.Name</strong><br />
                                    <small>@sub.QuestionCount questions</small>
                                </div>

                                @*Visar status för subcategory*@
                                <span>
                                    @(sub.IsLocked ? "🔒" :
                                                            sub.IsCompleted ? "✅" : "⭕")
                                </span>

                                @if (!sub.IsLocked) @*om upplåst startar*@
                                {
                                    <button class="btn btn-success btn-sm"
                                            @onclick="() => StartQuiz(sub.Id)">
                                        Start
                                    </button>
                                }
                            </li>
                        }

                    </ul>
                }

            </div>
        </div>
    }

</div>
</div>
</div>

@code {

    private string? userId; //kopplar till användare

    //lista med kategorier
    private List<CategoryDto> categoriesFromApi = new();

    //Lagrar subkategorier somr är expanderad i UI
    private Dictionary<int, List<SubCategoryDto>> subCategoriesMap = new();

    //Vilken kategori som är expanderad
    private int? expandedCategoryId;

    protected override async Task OnInitializedAsync()
    {
        //hämtar informationen om inloggad användare - Identity
        var authState = await AuthStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;

        userId = user.FindFirst(ClaimTypes.NameIdentifier)?.Value; //användare hämtas

        //hämtar kategorierna
        if (userId != null)
        {
            categoriesFromApi = await QuizApi.GetCategoriesAsync(userId);
        }
    }

    private async Task ToggleCategory(int categoryId)
    {
        if (expandedCategoryId == categoryId) //Klicka igen så collapsar card
        {
            expandedCategoryId = null;
        }
        else
        {
            expandedCategoryId = categoryId;

            //om subkategorier inte redan laddats hämtas dom från API
            if (!subCategoriesMap.ContainsKey(categoryId))
            {
                var subs = await QuizApi.GetSubCategoriesAsync(categoryId, userId!);
                subCategoriesMap[categoryId] = subs;
            }
        }
    }

    private void StartQuiz(int subCategoryId) //startar quiz och skickar dig till /questions.razor
    {
        Navigation.NavigateTo($"/questions/{subCategoryId}");
    }
}